@import "utilities/variables";
@import "utilities/extend";

* {
   @extend %reset; 
}

body {
    background: #e7eef3;
    font-size: 1.3em;
    color: $colornav;    
}

h1, .title-nosotros {
    text-align: center;
    margin-top: 100px;
    color: rgba(61, 61, 61, 0.699);
    line-height: 3.2 !important;
    font-weight: 400 !important; 

    &:hover {
        color: $colorhover;
    }

    @media only screen and (max-width: 576px) {
         font-size: 1.5em !important;
    }
}

h2 {
    color: $colorh2;
    padding: 10px;
    

    @media only screen and (max-width: 576px) {
        font-size: 22px !important;
        padding: 1px;
        margin-top: 8px !important;
    }

}

@import "layout/navigation";
@import "layout/services";
@import "layout/about us";
@import "layout/contact";
@import "layout/footer";

