.nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 10px auto;

    p {
        line-height: 30px;
        font-size: 1.2em;
        width: 100%;
        padding: 30px;
        margin: 20px auto;
        border-style: inset;
        border-radius: 25px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .5);
        color: white;
        background-color: #404040;

        &:hover {
            box-shadow: 0 0 25px rgba(58, 58, 58);
        }
    }

    span {
        background: rgb(255, 205, 112);
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: auto;
        margin-right: 6px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }

    @media only screen and (max-width: 576px) {
        flex-direction: column;
        margin: 40px 10px;

        p {
            font-size: 1em;
            padding: 4px;
            margin: 20px auto;
            text-align: left;
            border-radius: 10px;
        }
    }
     
    @media only screen and (min-width: 577px) and (max-width: 768px) {
        flex-direction: column;
        margin: 10px;

        p {
           font-size: 1.1em;
           padding: 15px;
           margin: 20px auto;
           text-align: left;
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        margin: 15px 20px;

        p {
            padding: 15px;
        }
    }
}

.logo-nosotros {
    width: 35%;
    max-width: 550px;
    margin: auto;
    padding: 35px;

    @media only screen and (max-width: 576px) {
        width: 70%;
        margin: 20px 20px;
        padding: 30px;
    }

    @media only screen and (min-width: 577px) and (max-width: 768px) {
        width: 50%;
        margin: 20px;
        padding: 30px;
    }

    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        width: 37%;
        margin: auto;
        padding: 0px;
    }
}

.textos-nosotros {
    padding: 0 70px;
    margin: 20px auto;

    @media only screen and (max-width: 576px) {
        padding: 5px 1px;
        margin: 5px;
        width: 100%;
    }    
}

.text-img-fix {
    background: url(../images/new-york.png);
    width: $ancho;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.text-fix {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: $ancho;
    text-align: center;
}

.text-fix-1 {
    font-size: 2.5em;
    color: rgb(236, 225, 225);
    padding-bottom: 50px;
}

.text-fix-2 {
    font-size: 2em;
    color: rgb(252, 4, 4);
}