.title-final {
    color: rgb(126, 126, 126);
}

.contáctanos {
    background-color: #000000cc;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    width: $ancho;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0 20px;

    @media only screen and (max-width: 400px) {
        flex-direction: column;
        padding: 1px;
        margin: 0 1px;
    }
}

.form {
    width: 400px;
    flex: 1;
    text-align: left;
    padding: 30px;

    textarea {
        min-height: 90px;
        resize: none;

        &::placeholder {
            color: rgb(65, 65, 65);
        }
    }
}

.form__section {
    width: 400px;
    margin: 0 10px;
}

.form__input {
    width: $ancho;
    padding: 3px;
    margin: 10px 20px;
    border: none;
    border-bottom: 3px solid rgb(207, 207, 207);
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-size: 18px;

    &:focus {
        background: linear-gradient(to bottom, transparent, #555);
        outline: none;
    }
}

input::placeholder {
    color: rgb(230, 230, 230);
}
textarea::placeholder {
    color: rgb(230, 230, 230)!important;
}

.icon-contac {
    text-align: center;
    width: $ancho - 67%;
    padding: 30px;

    a {
        text-decoration: none;
        color: #f5f7f7;

        i {
            font-size: 30px;
            padding: 10px;
        }
    }

    @media only screen and (max-width: 400px) {
        width: $ancho;
        padding: 5px;
    }
}

.fa-facebook-square:hover {
    color: rgb(2, 2, 240);
}

.fa-envelope-square:hover {
    color: rgb(255, 0, 0);
}

.fa-twitter-square:hover {
    color: rgb(93, 196, 255);
}

.fa-instagram-square:hover {
    color: rgb(221, 42, 123);
}

.contact-info {
    color: #f7f7f7;
    text-align: center;
    width: 33%;
    padding: 30px;
    text-align: center;
    align-content: center;

    li {
        line-height: 40px;
        list-style: none;
        text-align: center;
        align-items: center;
        margin: 10px 0px;
        width: 100%;
    }

    ul {
        margin: 5px;
        padding: 0;
    }

    @media only screen and (max-width: 400px) {
        width: $ancho;
        padding: 20px;
    }

}

.fa-map-marker-alt {
    color: rgb(255, 232, 189);
}

.fa-envelope {
    color: red;
}

.fa-phone-square-alt {
    color: rgb(0, 207, 0);
}