.text-final {
    @extend %flexbox;
    margin: auto;
    text-align: center;

    p {
        color: rgb(0, 0, 0);
        font-size: 1em;
        margin-top: 10px;
    }

    a {
        text-align: right;
    }

    i {
        font-size: 30px;
        color: rgb(66, 66, 66);

        &:hover {
            color: rgb(255, 171, 16);
        }
    }

    @media only screen and (max-width: 576px) {
        text-align: left;
        margin: auto;

        p {
            font-size: 13px;
        }
    }
}