header {
    background-color: $bgheader;
    width: $ancho;
    height: 100%;
}

.logo-principal {
    width: 30%;
}

.navbar {
    background-color: transparent !important;
}

.navbar-nav {
    font-size: 1em;
    text-transform: uppercase;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    color: $colornav;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $colorhover !important;
        border-bottom: 2px solid rgb(255, 70, 70);
    }
}

.navbar-brand {
    width: 80% !important;
    margin-right: 0 !important;
}

.navbar-toggler {
    border-color: rgba(255, 140, 140, 0.87) !important;
    font-size: 0.75rem !important;
    border-radius: 1rem !important;

    &:hover {
        border: 2px solid rgb(255, 56, 56) !important;
    }
}


@media only screen and (max-width: 576px) {
    .logo-principal {
        width: 50%;
    }

    .nav-link {
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }


}