.servicios {
    @extend %flexbox;
    margin: 100px 80px;

    @media only screen and (max-width: 576px) {
        flex-direction: column;
        margin: 0px 15px;
        width: 100%;
    }
}

.img-servicios-grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-row: auto;
    
    img {
        width: 100%;
        padding: 23px;

        &:hover {
            transform: scale(1.1);
        }
    }
    
    @media only screen and (max-width: 576px) {
        grid-template-columns: repeat(4, 100px);
        grid-row: auto;
        width: 100%;

    }
}

.textos-servicios {
    line-height: 60px;
    font-size: 1.2em;
    width: 40%;
    margin: 20px 20px;
    text-align: left;

    i {
        &:hover {
            transform: rotate(20deg);
            color: rgb(255, 71, 108);
        }
    }

    @media only screen and (max-width: 576px) {
        width: 100%;
        font-size: 1em;
        margin: 20px 0;
        line-height: 30px;
    }
}